* {
    box-sizing: border-box;
    color: white;
}

.container {
    border: 1px solid white;
    margin-top: 100px;
}

body {
    background-color: black;
}

.correctAnswer {
    /* border: 3px solid green; */
    color: green!important;
}

.wrongAnswer {
    /* border: 3px solid red; */
    color: red!important;
}

.answer {
    border: 2px solid white;
    height: 200px;
    background-color: black;
    color: white;
    font-size: 1em;
}

#answerSection {
    margin-top: 50px;
}

#question {
    font-weight: bold;
    font-size: 2em;
}

#timeRemaining {
    color: lime;
}